# DotEnv configuration
.env

# VS Code
.vscode/
*.code-workspace

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# Mypy cache
.mypy_cache/

# Exclude virtual environment
.venv/

# Exclude trained models
/models/

# exclude data from source control by default
#/data/

# Database
*.db
*.rdb

# exclude log files
*.log

# R specific
.RData
.Rhistory